<div style="padding:10px 0;">
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h4 class="fa fa-warning" aria-hidden="true">&nbsp;Внимание!</h4> 
            <div style="border-bottom:1px solid #e0d28b; padding:10px 0;">
                Просим прощения за неработоспособность разделов сайта.
                Сайт в данный момент находится в стадии активной разработки.
            </div>
            <div style="border-top:1px solid #fff; padding:10px 0;">
                Рекомендуем посетить нашу официальную <a style="display:inline-block;" href="https://vk.com/public110566590">страницу в контакте <span class="fa fa-vk"></span></a>.
            </div>
        </div>
    </div>
</div>



