<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="name navbar-brand" ui-sref="home" title="Главная">
                Indigo
            </a>
            <button type="button" class="navbar-toggle" ng-click="isNavMenuCollapsed = !isNavMenuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;" uib-collapse="isNavMenuCollapsed">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="home">Главная</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">                      
                    <li ng-hide="!authentication.isAuth" uib-dropdown>
                      <a id="simple-dropdown" uib-dropdown-toggle role="button">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{authentication.userName}}<span class="caret"></span>
                      </a>
                      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a href="#">Профиль</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a role="button" ng-click="logOut()">Выход</a></li>
                      </ul>
                    </li>


                    <li ng-hide="authentication.isAuth" ui-sref-active="active"><a ui-sref="join">Присоединиться</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div ui-view="content"></div>
