@import "social-buttons/_buttons.less";
.nav a {
    outline: none;
}
.joinhead {
    border-bottom:1px solid #ccc;
    margin-bottom: 30px;
    background-image: linear-gradient(to bottom, #265A88 0px, #337AB7 100%);
    background-repeat: repeat-x;
    color: #fff;
}
.joinhead .info {
    min-height:50px;
}
.joinhead a{
    color:#fff;
}
.joinhead a:hover{
    color:#000;
}
