<div class="joinhead bg-primary">
    <div class="container">
        <h2>Добро пожаловать</h2>
        <div class="info">
            <p>Block info content</p>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <ul class="nav nav-tabs nav-justified" style="margin-bottom:-1px;">
                    <li ui-sref-active="active"><a ui-sref="join.signin">Вход в систему</a></li>
                    <li ui-sref-active="active"><a ui-sref="join.signup">Регистрация</a></li>
                    <li ui-sref-active="active"><a ui-sref="join.password">Забыли пароль?</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ui-view="content"></div>
