<div class="container">
    <h2 class="col-sm-12">Вход в систему</h2>   

    <form class="form-horizontal">
        <div class="col-sm-6">
            <p>Для входа используйте данные вашей учетной записи:</p>
            <div class="form-group">
                <label for="login" class="col-sm-2 control-label" style="text-align:left;">Логин</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="login" placeholder="Логин" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label" style="text-align:left;">Пароль</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Пароль">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </div>
        </div>        
        <div class="col-sm-6">
            <div class="hidden-xs" style="border-left:1px dashed #D2D2D2; position:absolute; height:100%; min-height:170px; margin-left:-15px;"></div>
            <p>Войдите или присоединитесь к нашему сообществу, используя одну из ваших учетных записей:</p>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click=""><i class="fa fa-facebook"></i> | Facebook</button>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click=""><i class="fa fa-google-plus"></i> | Google+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </form>
</div>